.coverflowContainer {
  perspective: 1000px;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 60px 0;
  border: 1px solid red;
  transition: all 500ms ease;
}

.coverflowItem {
  width: 200px;
  height: 250px;
  transform-origin: center;
  transition:
    transform 0.5s ease,
    z-index 0s linear,
    height 0.5s ease,
    opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b5b4b6;
  color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: 0.7;
}

.active {
  background: #272a36;
  z-index: 3;
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.controls {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  padding-top: 100px;
}

.controlButton {
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.controlButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
